<!DOCTYPE html>
<html lang="en">
<head>
  <link href='/css/bootstrap.css' rel='stylesheet'>
  <title>TASK MANAGER</title>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
